*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 10px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #c4bebe;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: rgb(223 222 222 / 80%);
    backdrop-filter: saturate(180%) blur(10px);
    
  }
  nav{

    height: 80px;
    width: 100%;
  }
  label.logo{
    color:  #9badb4;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(5, 99, 104, 0.518);
    font-family: "Oleo Script", sans-serif;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color:  #9badb4;
    text-shadow: 1px 1px 2px rgba(5, 99, 104, 0.518);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: "Oleo Script", sans-serif;
  }
  header nav a:hover {
    color: rgb(21, 94, 101);
    background-color: #a29e9e73;
  }
  .checkbtn{
    font-size: 30px;
    color:#828282;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

  #about{
    background: url(bb.gif) no-repeat;
    background-size: cover;
    height: calc(105vh - 80px);
    margin-top: 50px;
    background-position: center;
  }



#about img{
    margin-left: 100px;
}

.cont{
    position: relative;
    top:160px;
}


#about p{
  color:#76848a;
   font-weight: bold;
   text-shadow: 1px 1px 2px #373b44;
   font-family: "Oleo Script", sans-serif;
    font-size: 50px;
    margin-bottom: 15px; 
   
  
}
#hashu{
  color: rgb(21, 94, 101);
  background-image: none;
  font-size: 50px;
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

span {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5em;
  transform: translate(-50%,-50%);
  background-image: linear-gradient(gold, gold);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
   transition: background-size .7s, background-position .5s ease-in-out;
   color:#76848a;
   font-weight: bold;
   text-shadow: 1px 1px 2px #373b44;
   font-family: "Oleo Script", sans-serif;
}

span:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}

#autotype{
  font-size: 1em;
  color: rgb(21, 94, 101);
 }

.box{
    
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 1000px;
    float: left;
    margin-right: 300px;
    position: relative;
    top: 100px;

}

.box img{
    position: absolute;
    backface-visibility: hidden;
    transition: 1s;
}

.box img:nth-child(2){
     transform: rotateY(180deg);
 
 }
.box:hover img:nth-child(2){
   transform: rotateY(0deg);
 }
.box:hover img:nth-child(1){
     transform: rotateY(180deg);
 }


 #about button{
   position: relative;
   top: 350px;
   margin-left: -380px;

 }

 
 
 .button-89 {
   --b: 3px;   
   --s: .45em; 
   --color: #373B44;
   font-family: 'Kablammo', cursive;
   
   padding: calc(.2em + var(--s)) calc(.1em + var(--s));
   color: var(--color);
   --_p: var(--s);
   background:
     conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
     var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
   transition: .3s linear, color 0s, background-color 0s;
   outline: var(--b) solid #0000;
   outline-offset: .6em;
   font-size: 25px;
 
   border: 0;
 
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
 }
 
 .button-89:hover,
 .button-89:focus-visible{
   --_p: 0px;
   outline-color: var(--color);
   outline-offset: .05em;
 }
 
 .button-89:active {
   background: var(--color);
   color: #fff;
 }

 /*  me section strtuuu */

#me{
  background: #333;
  padding-top: 5em;
  display: flex;
  justify-content: center;
  height: 100vh;
}
 .typewriter h1 {
  color: #faf3f3;
  font-family: monospace;
  overflow: hidden; 
  /*border-right: .15em solid orange; */
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


.row {
  display: flex;
  align-items: center;
}

.row img{
  width:300px
}

.icons-column {
  display: flex;
  flex-direction: column;
  margin-left: 10px; 
}

.icons-column i {
  margin-bottom: 20px; 
}

.icons-column i span {
  font-family: monospace;
  margin-left: 5px; 
  font-size: 15px;
  background-image: none;
  color: white;

}

.heading{
  margin-left: 25px; 
  background-image: none;
  color: white;
  font-size: 35px;
}

.card{
  text-align: center;
  margin-bottom: 50px;
}

.card i{
  font-size:35px;
  color:rgb(229, 220, 220);
}


/*skillsuuu*/


#skills{
  background: #ccc;
}

.card1 i{
  font-size:35px;
  color:rgb(238, 237, 237);
}
.card1{
  text-align: center;
  grid-column: 1 / -1;
  margin-top: 30px;
  margin-left: -200px;
}
.skills{
  margin-left: 150px;
  display: grid;
  grid-tempLate-columns: repeat(3, 1fr);
  justify-content:center;
  align-items:center;
  text-align: center;
  grid-gap:0.5rem;
  padding: 1rem 80px;
  font-size: 1.2rem;

  height: 100vh;
  }
  

  

  .skills-icons{
  width:50px;
  z-index:2;
  }
  
  .skills-img{
  width:90px;
  height:90px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display:flex;
  justify-content:center;
  align-items:center;
  transition: .5s;
  }
  
  .skills-img:after{
  content: '';
  position:absolute;
  top:0;
  left: 0;
  width:50%;
  height:90px;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 45px 0 0 45px;
  }


  .skills-box {
      position: relative;
    }
    
    .skills-box:hover .skills-textbox {
      opacity: 1;
    }
    
    .skills-textbox {
      position: absolute;
      top: 0;
      left: 40px;;
      width: 50%;
      height:90px;
      padding: 30px;
      background: #fff;
      border-radius: 1px 50px 50px 0px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      opacity: 0;
      transition: opacity 0.3s ease;
    }

/* responsive strtuuuu*/
@media screen and (max-width: 850px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
   

    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #cccccc;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      transition: left .5s ease-in-out;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
      font-weight: bold;
      color:#547b82;
    }
    header nav a:hover {
      color: rgb(21, 94, 101);
      background-color: #fafafa;
    }
    #check:checked ~ ul{
      left: 0;
    }

   span{
    font-size: 2em;
   }
}





@media screen and (max-width: 600px) {
  label.logo{
    font-size: 20px;
    padding-left: 50px;
  }

  #about{
    background-size: 600px 1000px;
    height: calc(105vh - 80px);
    
    
  }
  span{
    font-size: 1em;
    font-weight: 0;
    text-shadow: none;
   }

   #autotype{
    font-size: 1em;
    font-weight: 0;
    text-shadow: none;
   }

   .box img{
    width:85%;
    height: 70%;
   }

   #about button{
     position: relative;
     top:-330px;
     margin-left: 20px;
     width: 130px;
     font-size: 15px;
   }
   #about img{
    margin-left: 0px;
   }
 

   .cont{
    position: relative;
    top: -350px;
    margin-left: 20px;
   }
   
   .box {
    position: relative;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .box img {
    margin: 10px auto;
  }

  /*me*/

 
  .typewriter h1{
    font-size: 9px;
    letter-spacing: 0;
    height:20px;
  }

  .row img{
    width:170px;
  }

  .icons-column i span {

    font-size: 10px;
 
  }

  .card i{
    font-size:25px;

  }

  .heading{
    font-size: 20px;
  }
  
  /*skills*/
  
  .skills{
    margin-left: 0px;
    grid-gap:0rem;
    font-size: 1rem;
    padding: 1rem 80px;
    grid-column-gap: 1cm;
  }

  .card1{
    margin-left: 0px;
  }

  .skills-textbox {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height:80px;
    padding: 25px;
    background: #fff;
    border-radius: 0 1px 50px 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: flex-end;
 
  }

  .skills-img:after{
    content: '';
    position:absolute;
    top:0;
    left: 0;
    width:100%;
    height:90px;
    background: rgba(100, 100, 100, 0.5);
    background: linear-gradient(to bottom, rgba(100, 100, 100, 0.5) 50%, #fff 50%);
    border-radius: 50%;
    }
   
  .icon-bar a{
    display: none;
  }
 

}
